body{
    background-color: #FBFEF9;
    margin-left: 25px;
    margin-right: 25px;
}

#table_isi{
    background-color: #F7F7FF;
    border-radius: 10px;
}

#thead {
    background-color: #BDD5EA;
}


.input {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    float: left;
    margin-right: 2%;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.align-middle{
    font-weight: lighter;
    text-align: center;
}
