{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Story 8</title>
</head>

<body>
    <h3 style="text-align: center; padding-top: 1cm; color: #464655; font-family: 'Barlow'">Story 8 Aurel</h3>
    <div class="input">
        <input id="input" placeholder="type to search..">
    </div>
    <div class="content">
        <table id="table_isi" class= "table table-borderless">
            <thead id="thead">
                <tr>
                    <th scope="col" class="align-middle">no</th>
                    <th scope="col" class="align-middle">cover</th>
                    <th scope="col" class="align-middle">title</th>
                    <th scope="col" class="align-middle">authors</th>
                    <th scope="col" class="align-middle">publisher</th>
                    <th scope="col" class="align-middle">published date</th>
                </tr>
            </thead>
            <tbody id="hasil"></tbody>
        </table>
    </div>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>


